---
# roles/k3s-control-plane/tasks/main.yml

# ------------------------------------------------------------
# Install K3s server (control plane)
# ------------------------------------------------------------

- name: Check if K3s server is already installed
  stat:
    path: /usr/local/bin/k3s
  register: k3s_binary

- name: Download and install K3s server
  shell: |
    curl -sfL https://get.k3s.io | \
    INSTALL_K3S_VERSION="{{ k3s_version }}" \
    INSTALL_K3S_EXEC="server \
    {% for component in k3s_disable_components %}--disable {{ component }} {% endfor %} \
    --node-name {{ k3s_node_name }} \
    {% for arg in k3s_extra_args %}{{ arg }} {% endfor %}" \
    sh -
  args:
    creates: /usr/local/bin/k3s
  become: true
  when: not k3s_binary.stat.exists

# ------------------------------------------------------------
# Ensure K3s service is enabled and running
# ------------------------------------------------------------

- name: Enable and start K3s service
  systemd:
    name: k3s
    enabled: true
    state: started
  become: true

# ------------------------------------------------------------
# Wait for Kubernetes API to be ready
# ------------------------------------------------------------

- name: Wait for Kubernetes API to be available
  shell: |
    kubectl get nodes
  register: k3s_api_check
  retries: 10
  delay: 10
  until: k3s_api_check.rc == 0
  changed_when: false
  become: true

# ------------------------------------------------------------
# Read K3s node token (for future agent joins)
# fact is a runtime variable to store something!
# ------------------------------------------------------------

- name: Read K3s node token
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_node_token
  become: true

- name: Set K3s node token fact
  set_fact:
    k3s_join_token: "{{ k3s_node_token.content | b64decode | trim }}"
